In [ ]:
#Connect Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
!git clone https://github.com/ultralytics/yolov5  # clone
%cd yolov5
%pip install -qr requirements.txt  # install

import torch
from yolov5 import utils
display = utils.notebook_init()  # checks

YOLOv5 ðŸš€ 2022-6-9 Python-3.7.13 torch-1.11.0+cu113 CPU

Setup complete âœ… (2 CPUs, 12.7 GB RAM, 38.9/107.7 GB disk)

In [ ]:
!git clone https://github.com/roboflow-ai/yolov5 # clone repo 
!pip install -U -r yolov5/requirements.txt #install dependencies

fatal: destination path 'yolov5' already exists and is not an empty directory.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib>=3.2.2 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 4)) (3.5.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 5)) (1.21.6)
Requirement already satisfied: opencv-python>=4.1.2 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 6)) (4.6.0.66)
Requirement already satisfied: Pillow>=7.1.2 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 7)) (9.1.1)
Requirement already satisfied: PyYAML>=5.3.1 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 8)) (6.0)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 9)) (2.27.1)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 10)) (1.7.3)
Requirement already satisfied: torch>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 11)) (1.11.0+cu113)
Requirement already satisfied: torchvision>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 12)) (0.12.0+cu113)
Requirement already satisfied: tqdm>=4.41.0 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 13)) (4.64.0)
Requirement already satisfied: tensorboard>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 16)) (2.9.1)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 20)) (1.3.5)
Requirement already satisfied: seaborn>=0.11.0 in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 21)) (0.11.2)
Requirement already satisfied: thop in /usr/local/lib/python3.7/dist-packages (from -r yolov5/requirements.txt (line 36)) (0.0.31.post2005241907)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.2->-r yolov5/requirements.txt (line 4)) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.2->-r yolov5/requirements.txt (line 4)) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.2->-r yolov5/requirements.txt (line 4)) (4.33.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.2->-r yolov5/requirements.txt (line 4)) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.2->-r yolov5/requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.2->-r yolov5/requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->-r yolov5/requirements.txt (line 9)) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->-r yolov5/requirements.txt (line 9)) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->-r yolov5/requirements.txt (line 9)) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->-r yolov5/requirements.txt (line 9)) (2.0.12)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.7.0->-r yolov5/requirements.txt (line 11)) (4.2.0)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (1.0.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (0.4.6)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (57.4.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (3.3.7)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (1.8.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (0.37.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (3.17.3)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (0.6.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (1.46.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.4->-r yolov5/requirements.txt (line 20)) (2022.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from absl-py>=0.4->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (3.8.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.4.1->-r yolov5/requirements.txt (line 16)) (3.2.0)

In [ ]:
# import requirements
import torch

from IPython.display import Image, clear_output  # to display images
#from utils.google_utils import gdrive_download  # to download models/datasets

# clear_output()
print('Setup complete. Using torch %s %s' % (torch.__version__, torch.cuda.get_device_properties(0) if torch.cuda.is_available() else 'CPU'))

Setup complete. Using torch 1.11.0+cu113 CPU

In [ ]:
import cv2
import torch
import glob
from PIL import Image

# Model
model = torch.hub.load('ultralytics/yolov5', 'custom', '/content/gdrive/MyDrive/Marine Litter Detection/best.pt')  # custom trained model

# Images
images = [cv2.imread(file) for file in glob.glob('/content/gdrive/MyDrive/test_subfolder/*.jpg')]

# Inference
results = model(images, size=416)

Using cache found in /root/.cache/torch/hub/ultralytics_yolov5_master
YOLOv5 ðŸš€ 2022-6-9 Python-3.7.13 torch-1.11.0+cu113 CPU

Fusing layers...
custom_YOLOv5s summary: 232 layers, 7303155 parameters, 0 gradients, 16.9 GFLOPs
Adding AutoShape...

In [ ]:
import pandas as pd
from IPython.display import display

predicts= pd.DataFrame()
for i in range(0,len(results)):
  predicts= predicts.append((results.pandas().xyxy[i]),ignore_index=True)

display(predicts)

,xmin,ymin,xmax,ymax,confidence,class,name
0,301.407166,101.413635,361.547333,225.486176,0.264866,10,trash_branch
1,459.004913,111.073845,559.754639,259.762878,0.477383,3,animal_fish
2,0.601188,391.083374,90.937599,640.000000,0.724226,7,rov
3,12.103765,282.508392,538.002075,519.085693,0.252888,10,trash_branch
4,78.438278,212.613281,452.309296,456.299591,0.562259,3,animal_fish
5,316.928528,397.099335,605.597107,636.512634,0.390654,4,animal_shells
6,0.000000,8.482431,152.410324,404.074615,0.288150,2,animal_etc
7,431.930878,307.364807,522.395996,404.197601,0.458376,2,animal_etc
8,71.255898,184.145981,561.961975,546.548035,0.260936,3,animal_fish
9,0.459853,272.309052,565.046692,628.610962,0.798765,3,animal_fish
10,132.259552,155.596390,425.563141,482.643677,0.948915,3,animal_fish
11,96.129250,246.408325,535.740295,539.173950,0.881362,3,animal_fish
12,127.729980,155.230667,378.357452,485.714172,0.396989,2,animal_etc
13,333.411652,115.445534,446.270020,486.120911,0.832830,3,animal_fish
14,483.879364,51.774681,603.462830,308.584076,0.831695,5,animal_starfish
15,98.910599,12.469940,192.502045,256.835114,0.598508,5,animal_starfish
16,9.713135,66.640488,570.659241,640.000000,0.806655,3,animal_fish
17,1.602466,112.283913,324.908325,432.633179,0.812236,2,animal_etc
18,452.562592,311.329681,546.687805,484.887848,0.547239,11,trash_can
19,80.749985,79.432320,125.635475,118.838661,0.492144,2,animal_etc
20,456.823517,489.944855,494.015900,530.181885,0.277801,3,animal_fish
21,380.354370,167.988525,575.873962,630.452393,0.453094,8,trash_bag
22,381.041473,165.844589,550.165161,630.046814,0.287336,7,rov
23,228.261353,190.161697,361.410065,327.005341,0.922561,19,trash_tarp
24,116.443802,258.598572,246.636871,402.732147,0.905425,11,trash_can
25,81.031708,48.419991,627.575684,612.088623,0.844386,12,trash_clothing
26,50.107353,100.601479,613.107483,639.141968,0.920057,12,trash_clothing
27,169.644333,362.745605,345.796539,497.942047,0.923056,20,trash_unknown_instance
28,308.080200,181.555939,408.091156,324.786865,0.799738,13,trash_container
29,257.343201,231.396851,471.741638,393.410034,0.905833,20,trash_unknown_instance
30,0.000000,101.112366,324.958618,530.749084,0.597144,20,trash_unknown_instance
31,199.378738,139.752533,635.146423,588.484497,0.321881,20,trash_unknown_instance
32,133.228790,157.670929,403.153748,349.722931,0.925065,20,trash_unknown_instance
33,109.310623,264.414001,458.670868,467.175598,0.759532,10,trash_branch
34,111.292778,255.015411,189.505478,396.194427,0.548099,20,trash_unknown_instance
35,301.925415,231.751923,419.506378,422.892059,0.621293,2,animal_etc
36,303.818695,232.230438,416.744904,424.693848,0.507310,3,animal_fish
37,214.916809,108.151176,400.219025,394.870819,0.490144,0,animal_crab
38,299.166992,196.003357,395.160858,307.255188,0.364821,8,trash_bag
39,297.990417,196.205811,393.323486,309.708466,0.345576,19,trash_tarp
40,189.320404,212.681091,300.377167,333.023132,0.867064,3,animal_fish
41,55.638237,319.955780,149.059738,501.175354,0.623067,3,animal_fish
42,426.013947,23.275934,621.390991,267.094727,0.509224,3,animal_fish
43,348.288788,78.960564,483.107971,254.373413,0.611597,3,animal_fish
44,405.945679,294.777191,452.559265,363.853394,0.843892,8,trash_bag
45,8.151550,109.445145,527.421997,636.625549,0.694822,7,rov
46,374.086975,238.173889,400.428375,289.210449,0.725593,14,trash_cup
47,0.000000,235.162872,211.380478,640.000000,0.312643,7,rov
48,340.464081,130.180008,395.039062,251.504181,0.465033,3,animal_fish

In [ ]:
from numpy import NaN
data= {'name': ['trash_bag','trash_bottle','trash_branch','trash_can','trash_clothing','trash_container','trash_cup','trash_net','trash_pipe','trash_rope','trash_snack_wrapper','trash_tarp','trash_unknown_instance','trash_wreckage'],
                             'average_weight (g)' : [8,19.7,NaN,15,500,1000,15,500,500,900,1,120,NaN,NaN],
                             'average_time_to_decompose (years)' : [20,450,1,200,100,450,50,40,450,1.5,20,1000,1000,NaN]}
trash_averages= pd.DataFrame(data)
display(trash_averages)

                      name  average_weight  average_time_to_decompose
0                trash_bag             8.0                       20.0
1             trash_bottle            19.7                      450.0
2             trash_branch             NaN                        1.0
3                trash_can            15.0                      200.0
4           trash_clothing           500.0                      100.0
5          trash_container          1000.0                      450.0
6                trash_cup            15.0                       50.0
7                trash_net           500.0                       40.0
8               trash_pipe           500.0                      450.0
9               trash_rope           900.0                        1.5
10     trash_snack_wrapper             1.0                       20.0
11              trash_tarp           120.0                     1000.0
12  trash_unknown_instance             NaN                     1000.0
13          trash_wreckage             NaN                        NaN

In [ ]:
trash_info = predicts.loc[predicts['name'].isin(trash_averages["name"]) ,['name','confidence']]
display(trash_info)

                      name  confidence
0             trash_branch    0.264866
3             trash_branch    0.252888
18               trash_can    0.547239
21               trash_bag    0.453094
23              trash_tarp    0.922561
24               trash_can    0.905425
25          trash_clothing    0.844386
26          trash_clothing    0.920057
27  trash_unknown_instance    0.923056
28         trash_container    0.799738
29  trash_unknown_instance    0.905833
30  trash_unknown_instance    0.597144
31  trash_unknown_instance    0.321881
32  trash_unknown_instance    0.925065
33            trash_branch    0.759532
34  trash_unknown_instance    0.548099
38               trash_bag    0.364821
39              trash_tarp    0.345576
44               trash_bag    0.843892
46               trash_cup    0.725593

In [ ]:
final= pd.DataFrame(trash_info[['name']].value_counts().reset_index(name='counts'))
final

                     name  counts
0  trash_unknown_instance       6
1               trash_bag       3
2            trash_branch       3
3               trash_can       2
4          trash_clothing       2
5              trash_tarp       2
6         trash_container       1
7               trash_cup       1

In [ ]:
final['Estimated Weight (g)'] = final.counts.mul(final.name.map(trash_averages.set_index('name').average_weight))

In [ ]:
final

                     name  counts  Estimated Weight (g)
0  trash_unknown_instance       6                   NaN
1               trash_bag       3                  24.0
2            trash_branch       3                   NaN
3               trash_can       2                  30.0
4          trash_clothing       2                1000.0
5              trash_tarp       2                 240.0
6         trash_container       1                1000.0
7               trash_cup       1                  15.0

In [ ]:
result = final.merge(trash_averages, on='name', how='left')
display(result)

,name,counts,Estimated Weight (g),average_weight,average_time_to_decompose
0,trash_unknown_instance,6,NaN,NaN,1000.0
1,trash_bag,3,24.0,8.0,20.0
2,trash_branch,3,NaN,NaN,1.0
3,trash_can,2,30.0,15.0,200.0
4,trash_clothing,2,1000.0,500.0,100.0
5,trash_tarp,2,240.0,120.0,1000.0
6,trash_container,1,1000.0,1000.0,450.0
7,trash_cup,1,15.0,15.0,50.0